<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitme">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitme">

        <!-- Launcher Activity (First screen when app opens) -->
        <activity
            android:name=".ActivityLaunchScreen05"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication -->
        <activity android:name=".ActivitySignupPage" android:exported="false" />
        <activity android:name=".ActivitySigninPage" android:exported="false" />

        <!-- Onboarding Screens -->
        <activity android:name=".ActivityOnboarding01" android:exported="false" />
        <activity android:name=".ActivityOnboarding02" android:exported="false" />
        <activity android:name=".ActivityOnboarding03" android:exported="false" />

        <!-- Main App Pages -->
        <activity android:name=".HomePage" android:exported="false" />
        <activity android:name=".ActivityFindFriends" android:exported="false" />
        <activity android:name=".ActivityProfile" android:exported="false" />
        <activity android:name=".ActivityNotification" android:exported="false" />
        <activity android:name=".ActivitySettings" android:exported="false" />

        <!-- Launch Screens -->
        <activity android:name=".ActivityLaunchScreen01" android:exported="false" />
        <activity android:name=".ActivityLaunchScreen02" android:exported="false" />
        <activity android:name=".ActivityLaunchScreen03" android:exported="false" />
        <activity android:name=".ActivityLaunchScreen04" android:exported="false" />

        <!-- Optional: Uncomment if MainActivity is needed -->
        <!--
        <activity android:name=".MainActivity" android:exported="false" />
        -->

    </application>

</manifest>
